:root{
    --textColor1:#000000;
    --textColor2:#022658;
    --backColor: #b7c5e4;
    --backColor2:#8296c2;
    --secondaryColor:#6c86be;
    --complemetary:#f8CCC4;
    --dwnlBtnClr:#62b97f;
    --not:#8296c2;
}

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--backColor);
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu{
    min-height: 50px;
    background-color: var(--backColor);
}

.img{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}

.img p{
   position: relative;
   margin-bottom: 10px;
   text-align: center;
   top: auto;
}

#showImg{
    max-width: 90%;
    height: auto;
    padding: 10px 0 0 0;
}

.button{
    background-color: var(--backColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex-grow: 1;
    width: 100%;
    padding: 20px;
}

.upload{
    background-color: var(--backColor2);
    width: 90%;
    max-width: 500px;
    min-height: 300px;
    margin: 20px 0;
    border-radius: 20px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.headText{
    background-color: var(--backColor);
    display: flex;
    justify-content: center;
    padding-top:20px;
    padding-bottom: 20px;
    margin: 0;
}

.headText span{
    color: black;
    font-size: 2em;
    font-weight: 900;
    text-align: center;
}

input[type="file"]{
    display: none;
}

label[for="uploadImg"]{
    background-color: transparent;
    color: var(--complemetary);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 260px;
    text-align: center;
    padding: 20px;
    margin: 0;
    border-width: 3px;
    border-style: dashed;
    border-color: var(--complemetary);
    border-radius: 10px;
    user-select: none;
    transition-duration: 0.1s;
    cursor: pointer;
}

label[for="uploadImg"]:hover{
    border-color: white;
    color: white;
}

#downloadBtn{
    background-color: var(--not);
    color: var(--complemetary);
    border: none;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 4px;
    font-weight: 700;
    margin: 10px 0 30px 0;
    width: 90%;
    max-width: 300px;
    transition-duration: 0.1s;
    cursor: pointer;
}

#downloadBtn:hover{
    color: white;
}

footer{
    background-color: var(--secondaryColor);
    color: var(--textColor2);
    text-align: center;
    justify-content: end;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px;
}

.footerLink{
    color: var(--textColor2);
    text-decoration: none;
    font-weight: 700;
}

@media (min-width: 475px){
    label[for="uploadImg"]{
        font-size: 1.2rem;
    }

    #downloadBtn{
        font-size: 1.2rem;
    }
}

@media (min-width: 768px){
    .headText span{
        font-size: 2.5em;
    }

    label[for="uploadImg"]{
        font-size: 1.5rem;
    }

    #downloadBtn{
        font-size: 1.5rem;
        width: 100%;
        max-width: 350px;
    }
}

@media (min-width: 1280px){
    .upload{
        max-width: 600px;
    }

    label[for="uploadImg"]{
        font-size: 1.8rem;
    }
}